<div class="pageHeadline displayFlex {{$state.current.camelCaseName}}">
	<div class="container">
		<h1 class="displayInlineBlock">{{$state.current.seoName}}</h1>
	</div>
</div>

<div class="container">
	<fancy-box image-count="4" image-path="{{$state.current.camelCaseName}}"></fancy-box>
</div>
