footer {
	margin-top: 60px;
	background: #000;

	p, a, a:hover { color: #fff; }

	.linksAndInfo,
	.copyrightWrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.linksAndInfo {
		color: #fff;

		i { width: 30px; }

		dl {
			margin-bottom: 0;

			dt {
				font-size: 16px;
				margin-bottom: 20px;
			}
		}

		.navigation dd {
			float: left;
			width: 30%;
		}
	}

	.copyrightWrapper {
		background: #222;
		border-top: 1px solid #333;
		color: #999;

		.copyright,
		.developedBy {
			padding-left: 15px;
			padding-right: 15px;
		}

		a {
			font-family: 'Cinzel';
			font-size: 18px;
			color: #b5d443;

			span { color: #fff; }
		}
	}
}

/* smaller devices */
@media (max-width: 500px) {
	footer .copyrightWrapper .developedBy a { display: block; }
}
@media (min-width: 500px) {
	footer {
		.socialMedia,
		.contactUs {
			width: 50%;
			float: left;
		}
	}
}

/* small devices */
@media (min-width: 768px) {
	footer .copyrightWrapper .developedBy {
		position: relative;
		top: -3px;
	}
}

/* desktop */
@media (max-width: 991px) {
	footer {
		.copyrightWrapper {
			.copyright { display: none; }
			.developedBy { width: 100%; }
		}

		.socialMedia,
		.contactUs { margin-top: 30px; }
	}
}
@media (min-width: 991px) {
	footer {
		.socialMedia,
		.contactUs,
		.navigation { float: left; }

		.navigation { width: 50%; }

		.socialMedia,
		.contactUs { width: 25%; }
	}
}