/* variables */
$link-color: #eda900;
$text-color: #333;
$font-family-sans-serif: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* sticky footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: $font-family-sans-serif;
}
main {
	flex: 1;
	min-height: 400px; /* display flex fall back */
}
/* sticky footer */

a,
a:hover {
	color: $link-color;
	font-weight: bold;
}

.pageHeadline {
	margin-bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;

	h1 {
		margin: 0;
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
		padding: 10px 15px;
	}
}

.pageHeadline.home { background-image: url('../images/home/pageHeadline.jpg'); }
.pageHeadline.aboutUs { background-image: url('../images/aboutUs/pageHeadline.jpg'); }
.pageHeadline.services { background-image: url('../images/services/pageHeadline.jpg'); }
.pageHeadline.plumbing { background-image: url('../images/plumbing/pageHeadline.jpg'); }
.pageHeadline.electrical { background-image: url('../images/electrical/pageHeadline.jpg'); }
.pageHeadline.construction { background-image: url('../images/construction/pageHeadline.jpg'); }
.pageHeadline.fencing { background-image: url('../images/fencing/pageHeadline.jpg'); }
.pageHeadline.gardening { background-image: url('../images/gardening/pageHeadline.jpg'); }
.pageHeadline.painting { background-image: url('../images/painting/pageHeadline.jpg'); }
.pageHeadline.roofing { background-image: url('../images/roofing/pageHeadline.jpg'); }
.pageHeadline.contactUs { background-image: url('../images/contactUs/pageHeadline.jpg'); }

/* mobile */
@media (max-width: 768px) {
	.pageHeadline .container { width: 100%; }
}

/* desktop */
@media (min-width: 768px) {
	.pageHeadline { height: 450px; }
}