header {
	.navbar-header { clear: both; }
	.navbar > .container .navbar-brand {
		font-family: 'Lato', sans-serif;
		height: auto;
		font-size: 28px;
		color: $text-color;
	}

	.navbar-default {
		background: #fff;
		margin-bottom: 0;

		.navbar-nav {
			li > a,
			.open .dropdown-menu a { color: inherit; }
			li > a:hover { color: $link-color; }

			.active > a,
			.active > a:focus,
			.active > a:active,
			.active > a:hover,
			> .open > a,
			> .open > a:hover,
			> .open > a:focus,
			.open .dropdown-menu .active a,
			.open .dropdown-menu .active a:hover,
			.open .dropdown-menu a:hover {
				background-color: #fff;
				color: $link-color;
			}
			.open .dropdown-menu a { font-weight: bold; }
		}
	}


	.navbar-nav { clear: both; }

	.contactInfo {
		margin-bottom: 20px;

		.phoneUs {
			display: inline-block;
			margin-right: 40px;

			a { font-size: 18px; }
		}
		.socialMedia { display: none; }
		.fa-circle { color: $text-color; }

		.fa-stack:hover {
			.fa-circle { color: $link-color; }
		}
	}
}

/* desktop */
@media (max-width: 767px) {
	.dropdown-menu {
		padding-top: 0;
		padding-left: 10px;
	}
}

/* desktop */
@media (min-width: 768px) {
	header {
		.navbar > .container .navbar-brand {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		.navbar-default {
			padding: 20px 0;

			.navbar-nav {
				li {
					float: none;
					display: inline-block;

					.dropdown-menu li { display: block; }
				}
				li > a {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
		.contactInfo {
			float: right;

			span,
			.socialMedia { display: inline-block; }
		}
		.navbar li:last-child a { padding-right: 0; }
	}
}