<div class="pageHeadline displayFlex {{$state.current.camelCaseName}}">
	<div class="container">
		<h1 class="displayInlineBlock">Welcome To Build Gurus</h1>
	</div>
</div>

<h2>{{$state.current.seoName}}</h2>

<fancy-box image-count="4" image-path="home"></fancy-box>
