<div class="linksAndInfo container">
	<dl class="navigation clearfix noGutter">
		<dt>NAVIGATION</dt>
		<dd ng-repeat="state in mainCtrl.states">
			<a ng-if="state.name" ui-sref="{{ state.name }}">{{ state.seoName }}</a>
		</dd>
	</dl>

	<dl class="socialMedia">
		<dt>SOCIAL MEDIA</dt>
		<dd>
			<a href="https://twitter.com/BuildGurus" target="_blank" title="Check us out on twitter">
				<i class="fa fa-twitter"></i><span>Twitter</span>
			</a>
		</dd>
		<dd>
			<a href="https://www.facebook.com/profile.php?id=100011356575391" title="Check us out on facebook">
				<i class="fa fa-facebook"></i><span>Facebook</span>
			</a>
		</dd>
		<dd>
			<a href="https://plus.google.com/118443480447210006976" title="Check us out on google plus">
				<i class="fa fa-google-plus"></i><span>Google Plus</span>
			</a>
		</dd>
		<dd>
			<a href="https://www.youtube.com/channel/UCOUX6Dxy1gImdQz0Bmdk-HQ" title="Check us out on youtube">
				<i class="fa fa-youtube-play"></i><span>YouTube</span>
			</a>
		</dd>
	</dl>

	<dl class="contactUs">
		<dt><a ui-sref="contactUs">CONTACT US</a></dt>
		<dd>
			<a href="mailto:07453 283 075" title="Ring us on 07453 283 075">
				<i class="fa fa-phone"></i><span>07453 283 075</span>
			</a>
		</dd>
		<dd>
			<a href="mailto:buildgurus@gmail.com?subject=Build%20Gurus">
				<i class="fa fa-envelope"></i><span>buildgurus@gmail.com</span>
			</a>
		</dd>
		<dd>
			<a ui-sref="contactUs">
				<i class="fa fa-clipboard"></i><span>Get a quote</span>
			</a>
		</dd>
	</dl>
</div>
<div class="copyrightWrapper">
	<div class="container">
		<div class="row">
			<div class="displayInlineBlock pull-left copyright">
				&copy; Copyright {{ mainCtrl.date | date:'yyyy' }} Build Gurus. All rights reserved.
			</div>
			<div class="displayInlineBlock pull-right text-right developedBy">
				Site designed &amp; developed by <a href="http://www.creativedevelopments.net" target="_blank">Creative <span>Developments</span></a>
			</div>
		</div>
	</div>
</div>