<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="contactInfo">
			<div class="phoneUs">
				<span>Contact us on</span>
				<a href="tel:07453 283 075" title="Ring us on 07453 283 075">07453 283 075</a>
			</div>

			<div class="socialMedia">
				<a href="https://twitter.com/BuildGurus" target="_blank" class="fa-stack fa-sm" title="Check us out on twitter">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</a>

				<a href="https://www.facebook.com/profile.php?id=100011356575391" class="fa-stack fa-sm" title="Check us out on facebook">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</a>

				<a href="https://plus.google.com/118443480447210006976" class="fa-stack fa-sm" title="Check us out on google plus">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
				</a>

				<a href="https://www.youtube.com/channel/UCOUX6Dxy1gImdQz0Bmdk-HQ" class="fa-stack fa-sm" title="Check us out on youtube">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
				</a>

				<a href="mailto:buildgurus@gmail.com" class="fa-stack fa-sm" title="Email Us">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
				</a>
			</div>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="#/">
				<i class="fa fa-wrench" aria-hidden="true"></i>
				Build Gurus
			</a>
		</div>
		<div class="collapse navbar-collapse" id="js-navbar-collapse" collapse-dropdown>
			<ul class="nav navbar-nav navbar-right">
				<li ng-repeat="state in mainCtrl.states" ui-sref-active="active" ng-if="!state.isService && state.name">
					<a ui-sref="{{ state.name }}">{{ state.seoName }}</a>
				</li>
				<!-- generate markup for individual services -->
				<li ui-sref-active="active" class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >What We Do <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="state in mainCtrl.states" ng-if="state.isService && state.name">
							<a ui-sref="{{ state.name }}">{{ state.seoName }}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>